#title {
    height: 80vh;
    background-image: url("./image/freedom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto 100%; */
    /* background-position: 0% 40%; */
    background-position: left 0% top 30%;
    background-origin: border-box;
    background-clip: border-box;
    position: relative;

    /* border: 5px dashed black; */
}

#title h1 {
    color: white;
    font-family: Anton, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.sub-title {
    color: darkgreen ;
    font-family: inherit;
    text-align: center;
    padding: 1.5rem 0;
}

section:not(#title):nth-child(2){
    font-weight: bold;
}

#plans div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 1.5rem 0;
}
#plans article {
    border: 1px solid rgb(196, 255, 221);
    background-color: rgb(196, 255, 221);
    text-align: center;
    /* flex: 0 0 22%; */
    width: 295px;
    margin: 0.5rem 0.7rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    
}
#plans article.card-recommend {
    border: 1px solid green;
    background-color: rgb(36, 170, 36);
    color: white;
}
.card-recommend h1:first-child {
    background-color: white;
    color: darkgreen;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1.2rem 0;
    box-shadow: 5px 5px;
    
}
.card-recommend-price {
    margin: 1.3rem 0;
    color: rgba(0, 0, 0, 0.7);
}

.card-title {
    color: darkgreen;
    padding: 0.7rem 0;
}
.card-price {
    color: rgb(116, 112, 112);
    padding: 0.7rem 0;
}
article ul {
    margin: 0.5rem 0;
}
article li {
    list-style: none;
    font-weight: normal;
    padding: 0.2rem 0;
}
article button {
    display: inline-block;
    background-color: darkgreen;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}
article button:hover, article button:focus {
    outline: none;
    background-color: white;
    color: darkgreen;
}

.reasons {
    background-color: rgb(233, 58, 58);
    padding: 3rem 0;
    margin: 2rem 0;
    color: white;
}
.reasons h2 {
    padding: 0 1rem;
    text-align: center;
}

.reasons .reason-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
.reason-items div {
    width: 300px;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
}
.reason-items figure {
    border: 2px solid black;
    background-color: rgba(255, 192, 203, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
    padding: 1.2rem;
}


/* For phones/phablet */
@media all and (max-width: 600px) {
    #title {
        height: 60vh;
        background-position: left 20% top 30%;
    }
    .reason-items div {
        margin: 0;
        padding: 1rem;   
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .reason-items div {
        width: 210px;
        margin: 0;
    }
} 